/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
  background-image: url('/public/assets/bus.jpg'); /* Specify the path to your background image */
  background-size: cover;
  background-position: center;
  object-fit: cover;
   /* Apply a blur effect */
}
